.c__breadcrumbs {
  padding-top: 20px;
  padding-bottom: 21px;
  background-color: #f7f7f7;
}
.c__breadcrumbs ul.breadcrumbs {
  padding: 0;
  list-style: none;
  text-align: center;
}
.c__breadcrumbs ul.breadcrumbs > li {
  display: inline;
  font-size: 18px;
  font-weight: lighter;
}
.c__breadcrumbs ul.breadcrumbs > li:after {
  content: "/";
  margin: 0px 5px;
  color: #ccc;
}
.c__breadcrumbs ul.breadcrumbs > li:last-child:after {
  content: none;
}
.c__breadcrumbs ul.breadcrumbs > li h1 {
  font-size: 28px;
  font-weight: lighter;
  color: #333;
  margin: 0;
}
.c__centered-image {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.c__centered-image > img {
  position: absolute;
  top: -150%;
  bottom: -150%;
  left: -150%;
  right: -150%;
  margin: auto;
  min-width: 100%;
  max-height: 110%;
}
.c__banner {
  position: relative;
}
.c__banner h1 {
  text-align: center;
  position: absolute;
  top: 50px;
  left: 20px;
  right: 20px;
  margin: 0;
}
.c__banner .btn-container {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
}
.c__btn-block {
  display: block;
  height: 62px;
  line-height: 62px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 0;
  width: 100%;
}
.c__btn-filled {
  background-color: #00ad92;
  color: white;
}
.c__btn-filled:hover {
  background-color: #00d6b5;
  color: white;
}
.c__btn-filled:active,
.c__btn-filled:focus {
  background-color: #006d5c;
  color: white;
  outline: none;
}
.c__btn-default-line-height {
  line-height: initial;
}
.c__seotext {
  padding-top: 29px;
  padding-bottom: 35px;
  background-color: #f7f7f7;
  font-weight: lighter;
  line-height: 24px;
}
.c__seotext h1 {
  font-size: 28px;
  font-weight: lighter;
  text-align: center;
  color: #333;
  margin: 0 0 23px 0;
}
.c__seotext p {
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
  color: #333;
  margin-bottom: 20px;
}
.c__seotext p:last-child {
  margin-bottom: 0px;
}
.c__photo-card .img-wrap {
  overflow: hidden;
}
.c__photo-card .img-wrap img {
  display: block;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 4px 0px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.c__photo-card:hover .img-wrap img {
  transform: scale(1.3);
}
.c__photo-card .description {
  padding: 0px 20px;
  text-align: center;
}
.c__photo-card .description .caption {
  margin: 15px 0 8px;
  color: #333;
  font-size: 16px;
  font-weight: lighter;
}
.c__photo-card .description .articul {
  color: #999;
  font-weight: lighter;
  font-size: 16px;
}
.c__vertical-centered-text {
  height: 100%;
}
.c__vertical-centered-text:before {
  content: "";
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}
.c__vertical-centered-text > span {
  display: inline-block;
  vertical-align: middle;
}
.c__custom-form-group {
  margin-bottom: 0;
}
.c__custom-form-group .help-block {
  display: none;
}
.c__custom-form-group.has-error .help-block {
  display: block;
}
@media screen and (max-width: 479px) {
  .c__hide-320-480 {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .c__breadcrumbs {
    padding-bottom: 22px;
  }
  .c__breadcrumbs ul.breadcrumbs > li h1 {
    font-size: 32px;
  }
  .c__seotext {
    padding-top: 50px;
    padding-bottom: 56px;
  }
  .c__seotext h1 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .c__hide-480 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .c__hide-320-768 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .c__breadcrumbs ul.breadcrumbs > li h1 {
    font-size: 36px;
  }
  .c__hide-768 {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .c__breadcrumbs ul.breadcrumbs > li h1 {
    font-size: 42px;
  }
  .c__seotext .columns {
    column-count: 2;
  }
  .c__seotext h1 {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .c__inner {
    margin: auto;
    width: 1280px;
    float: none;
  }
  .c__breadcrumbs {
    padding-top: 30px;
  }
  .c__breadcrumbs ul.breadcrumbs > li h1 {
    font-size: 52px;
  }
  .c__seotext {
    padding-top: 83px;
    padding-bottom: 93px;
  }
  .c__seotext h1 {
    font-size: 52px;
    margin-bottom: 37px;
  }
  .c__photo-card .description .caption {
    margin-top: 23px;
    font-size: 18px;
  }
  .c__photo-card .description .articul {
    font-size: 18px;
    margin-bottom: 13px;
  }
}
