/* mobile-first */
.page__item {
  font-family: "Ubuntu";
  
  h1 {
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
  }
  
  .first-row {
    .thumb {
      .preview {
        img {
          width: 100%;
          box-shadow: rgba(0,0,0,0.17) 0px 2px 4px 0px;
        }
      }
    
      ul.tags {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 4px;
        
        & > li {
          display: block;
          float: left;
          height: 40px;
          line-height: 36px;
          padding: 0px 19px;
          margin-right: 10px;
          margin-bottom: 10px;
          
          border: 1px solid #abe4db;
          font-size: 16px;
          font-weight: lighter;
          
          &:hover {
            border-color: #00d6b5;
          }
          
          &:active {
            border-color: #006d5c;
          }
        }
      }
    
      .articul {
        color: #999;
        font-size: 18px;
        font-weight: lighter;
      }
    }
    
    .inputs {
      .dim_input {
        margin-top: 23px;
        padding-top: 11px;
        padding-bottom: 30px;
        background-color: #f7f7f7;
        overflow: hidden;
        float: none;
        width: auto;
        
        .input_container {
          float: left;
          width: 50%;
          
          label {
            display: block;
            width: 100%;
            color: #333;
            font-size: 18px;
            font-weight: normal;
          }
          
          .length-input {
            position: relative;
            
            &:after {
              content: "см";
              display: block;
              line-height: 48px;
              color: #bbb;
              position: absolute;
              right: 20px;
              bottom: 1px;
              font-size: 16px;
            }
            
            input[type="text"] {
              width: 100%;
              border: 1px solid #e0e0e0;
              padding: 0 45px 0 10px;
              height: 50px;
              line-height: 50px;
              font-size: 18px;
              color: inherit;
              
              &:focus {
                outline: none;
                border-color: #00ad92;
              }
            
              &.left {
                border-radius: 5px 0 0 5px;
              }
              
              &.right {
                border-radius: 0 5px 5px 0;
              }
            }
          }
        }
      }
      
      .material-list {
        padding-top: 30px;
      
        & > ul {
          list-style: none;
          overflow: hidden;
          padding: 0;
          margin: 0;
          
          & > li {
            display: block;
            float: left;
            width: 33.333333%;
            margin-bottom: 16px;
            
            &:nth-child(3n+1) {
              padding-right: 2px;
            }
            
            &:nth-child(3n+2) {
              padding-right: 1px;
              padding-left: 1px;
            }
            
            &:nth-child(3n+3) {
              padding-left: 2px;
            }
            
            .material-wrap {
              position: relative;
              
              .img-wrap {
                &:before {
                  content: "";
                  padding-top: 100%;
                  float: left;
                }
              }
              
              .name {
                text-align: center;
                margin-top: 7px;
                color: #666;
              }
              
              .sale {
                position: absolute;
                top: 7px;
                left: 7px;
                width: 45px;
                height: 45px;
                border-radius: 45px;
                background-color: #00ad92;
                text-align: center;
                line-height: 45px;
                color: white;
                font-size: 14px;
                font-weight: bold;
              }
            }
            
            &.selected .material-wrap {
              .img-wrap {
                border: 4px solid #00ad92;
              }
            }
          }
        }
      }
    }
    .price {
      text-align: center;
      font-size: 32px;
      font-weight: lighter;
      color: #000;
      margin-bottom: 17px;
      
      .old {
        font-size: 24px;
        color: #999;
        text-decoration: line-through;
      }
    }
  }
  
  .second-row {
    .form {
      margin-top: 41px;
      
      h1 {
        font-size: 28px;
        font-weight: lighter;
        color: #333;
      }
      
      .call {
        text-align: center;
        font-size: 16px;
        color: #999;
        margin-bottom: 13px;
      }
      
      .fields {
        padding-top: 21px;
        padding-bottom: 40px;
        line-height: 1.2;
        background-color: #f7f7f7;
        float: none;
        width: auto;
        
        .field {
          margin-top: 11px;
          width: 100%;

          label {
            display: block;
            color: #999;
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 6px;
            
            &.checkbox {
              line-height: 30px;
              margin-top: 20px;
              margin-bottom: 20px;
              text-align: center;
              color: #333;
            }
          }
          
          input[type="text"], select {
            display: block;
            width: 100%;
            height: 50px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            line-height: 50px;
            font-size: 18px;
            padding: 0px 10px;
            color: inherit;
          }
          
          input[type="checkbox"], select {
            position: relative;            
            appearance: none;
          }
          
          /* специально для IE11 (убирает стрелку у select) */
          select::-ms-expand {
            display: none;
          }
          
          select {
            background: white url("arrow-down-blue.svg") no-repeat;
            background-size: 11px 5px;
            background-position: 95% 50%;
          }
          
          /* для IE11 (внешний вид чекбокса) */
          input[type="checkbox"]::-ms-check {
            width: 30px;
            height: 30px;
            background-color: #00ad92;
            border-radius: 5px;
            vertical-align: top;
            margin: 0;
            margin-right: 5px;
            border: none;
            color: white;
          }
          
          input[type="checkbox"] {
            display: inline-block;
            color: inherit;
            font-size: inherit;
            width: 30px;
            height: 30px;
            background-color: #00ad92;
            border-radius: 5px;
            vertical-align: middle;
            margin: 0;
            margin-right: 5px;
            border: none;
            
            &:checked {
              background-image: url("checkbox-mark.svg");
              background-position: center;
              background-repeat: no-repeat;
            }
            
            &:hover {
              background-color: #00d6b5;
            }
          }
          
          input:focus, select:focus {
            outline: none;
            border-color: #00ad92;
          }
        }
      }
    } 
    
    .delivery-places {
      text-align: center;
      padding-top: 41px;
      
      h1 {
        margin: 0 0 13px;
        font-weight: lighter;
      }
      
      .city {
        font-size: 16px;
        color: #00ad92;
        margin-bottom: 22px;
        
        &:after {
          content: "";
          display: inline-block;
          width: 11px;
          height: 5px;
          margin-left: 10px;
          vertical-align: 3px;
          background: url("arrow-down-gray.svg") no-repeat;
        }
      }
      
      .map {
        height: 200px;
      }
    }
  }
  
  .similar {
    padding-top: 48px;
    padding-bottom: 25px;
    
    h1 { 
      margin: 0;
      margin-bottom: 5px;
    }
    
    .similar-card-list {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    
      .similar-card-wrap {
        margin-top: 25px;
      }
    }
  }
  
  .description {
    .tab-head {
      position:relative;
      display: block;
      overflow: hidden;
      background-color: #f7f7f7;
      text-align: center;
      height: 75px;
      
      &:before {
        content:"";
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        height: 2px;
        background-color: white;
      }
      
      ul {
        list-style: none;
        padding: 0;
        margin-left: 0;
        margin-bottom: 0;
        display: inline-block;
      }
      
      ul > li {
        float: left;
        position: relative;
        height: 75px;
        line-height: 73px;
        padding: 0px 15px 0px 10px;
        border-bottom: 2px solid white;
        font-weight: bold;
        font-size: 16px;
        color: #00ad92;
        text-transform: uppercase;
        cursor: pointer;
        
        &:hover {
          color:#00d6b5;
        }
        
        &.active {
          color: #000;
          border-color: #00ad92;
        }
      }
    }
    
    .tab-container {
      background-color: #f7f7f7;
      overflow: hidden;
      
      .tab {
        display: none;
        padding-top: 28px;
        padding-bottom: 31px;
        
        &.active {
          display: block;
        }
      
        .caption {
          margin-top: 40px;
          margin-bottom: 13px;
          font-size: 24px;
          font-weight: lighter;
          color: #333;
          
          &:first-child {
            margin-top: 0px;
          }
        }
        
        p {
          margin-bottom: 22px;
          color: #333;
          font-size: 16px;
          font-weight: lighter;
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .page__item {
    h1 {
      font-size: 32px;
    }
    
    .first-row {
      .thumb {
        ul.tags {
          float: left;
          margin: 30px 0px;
          & > li {
            margin-bottom: 0px;
          }
        }

        .articul {
          float: right;
          line-height: 40px;
          margin-top: 30px;
        }
      }
      
      .inputs {
        margin: 0;
        
        .dim_input {
          clear: both;
        }
        
        .material-list {
          margin: 0;

          & > ul {
            margin: 0;
            
            & > li {
              width: 25%;
              margin-bottom: 24px;
              
              &:nth-child(3n+1) {
                padding-right: 0px;
              }
              
              &:nth-child(3n+2) {
                padding-right: 0px;
                padding-left: 0px;
              }
              
              &:nth-child(3n+3) {
                padding-left: 0px;
              }
              
              &:nth-child(n) {
                padding-left: 2px;
              }
            }
          }
        }
      }
    }
    
    .second-row {
      .form {
        margin-top: 47px;
        
        h1 {
          font-size: 32px;
        }
        
        .call {
          margin-bottom: 25px;
        }
      } 
      
      .delivery-places {
        padding-top: 46px;
      }
    }
    
    .similar {
      padding-bottom: 55px;
      
      .similar-card-list {
        margin-top: -3px;

        .similar-card-wrap {
          float: left;
          width: 50%;

          &:nth-child(2n) {
            padding-left: 10px;
          }

          &:nth-child(2n+1) {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .page__item {
    .first-row {
      padding-top: 21px;
    
      .thumb {
        .preview {
          margin: 0;
        }
      }
      
      .inputs {
        .dim_input {
          margin: 0;
        }
        
        .material-list {
          & > ul {
            margin-bottom: 19px;

            & > li {
              width: 12.5%;
              margin-bottom: 0;
              
              .material-wrap {
                div.name {
                  margin-top: 2px;
                }
              }
            }
          }
        }
      }
      
      .price {
        margin-bottom: 23px;
      }
    }
    
    .second-row {
      .form {
        margin-top: 37px;
        
        .fields {
          margin: 0;
          padding: 0 30px 32px;
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          
          .field {
            margin-top: 24px;
            
            &.half-768 {
              width: 50%;
              float: left;

              &:nth-child(2n+1) {
                padding-left: 10px;
              }

              &:nth-child(2n+2) {
                padding-right: 10px;
              }
            }
            
            label {
              &.checkbox {
                text-align: left;
              }
            }
          }
        }
      } 
      
      .delivery-places {
        padding-top: 34px;

        .city {
          margin-bottom: 17px;
        }
        
        .map {
          margin: 0;
        }
      }
    }
    
    .similar {
      padding-top: 36px;
      
      .similar-card-list {
        margin-top: -8px;

        .similar-card-wrap {
          float: left;
          width: 33.333333%;

          &:nth-child(2n) {
            padding-left: 0px;
          }

          &:nth-child(2n+1) {
            padding-right: 0px;
          }

          &:nth-child(3n) {
            padding-left: 10px;
          }

          &:nth-child(3n+1) {
            padding-right: 10px;
          }

          &:nth-child(3n+2) {
            padding-right: 5px;
            padding-left: 5px;
          }
        }
      }
    }
    
    .description {
      .tab-head {
        ul > li {
          font-size: 18px;
        }
      }
      
      .tab-container {
        .tab {
          padding-top: 48px;
          padding-bottom: 52px;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .page__item {
    .first-row {
      overflow: hidden;
      padding-top: 30px;
      
      .thumb {
        float: left;
        width: 60%;
        padding-right: 20px;
        
        ul.tags {
          margin: 21px 0px;
        }

        .articul {
          margin-top: 21px;
          margin-right: 10px;
        }
      }
      
      .inputs {
        width: 40%;
        float: right;

        .material-list {

          & > ul {
            margin-bottom: 11px;

            & > li {
              width: 25%;
              
              .material-wrap {
                div.name {
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
    }
    
    .second-row {
      overflow: hidden;
      padding-top: 38px;
      
      .form {
        float: left;
        width: 60%;
        padding-right: 20px;
        margin-top: 0px;
        
        h1 {
          margin: 0 0 13px;
          text-align: left;
        }
        
        .call {
          margin-bottom: 17px;
          text-align: left;
        }
        
        .fields {
          padding-bottom: 46px;
          
          .field {
            &.half-768 {
              &.half-fullwidth-1000 {
                margin-right: 50%;
                padding-left: 0px;
                padding-right: 0px;
              }
            }
  
            label {
              &.checkbox {
                margin-top: 6px;
                margin-bottom: 6px;
              }
            }
          }
        }
      } 
      
      .delivery-places {
        float: right;
        width: 40%;
        padding-top: 0px;
        
        h1 {
          text-align: left;
        }
        
        .city {
          text-align: left;
        }
        
        .map {
          height:501px;
        }
      }
    }
    
    .similar {
      padding-top: 50px;
      
      .similar-card-list {
        margin-top: -24px;

        .similar-card-wrap {
          width: 25%;
          margin-top: 42px;

          &:nth-child(3n+1) {
            padding-right: 0px;
          }

          &:nth-child(3n+2) {
            padding-left: 0px;
            padding-right: 0px;
          }

          &:nth-child(3n+3) {
            padding-left: 0px;
          }

          &:nth-child(4n+1) {
            padding-right: 15px;
          }

          &:nth-child(4n+2) {
            padding-right: 10px;
            padding-left: 5px;
          }

          &:nth-child(4n+3) {
            padding-right: 5px;
            padding-left: 10px;
          }

          &:nth-child(4n+4) {
            padding-left: 15px;
          }
        }
      }
    }
    
    .description {
      .tab-container {
        .tab {
          padding: 48px 63px 52px;
        }
      }
    }
  }
}

@media screen and(min-width: 1280px) {
  .page__item {
    .first-row {
      .thumb {
        width: 66.666666%
      }
      
      .inputs {
        width: 33.333333%
      }
    }
    
    .second-row {
      .form {
        width: 66.666666%
      } 
      
      .delivery-places {
        width: 33.333333%
      }
    }
    
    .similar {
      .similar-card-list {
        margin-top: -5px;
        
        .similar-card-wrap {
          width: 16.666666%;
          
          &:nth-child(4n+1) {
            padding-right: 0px;
          }
          
          &:nth-child(4n+2) {
            padding-right: 0px;
            padding-left: 0px;
          }
          
          &:nth-child(4n+3) {
            padding-right: 0px;
            padding-left: 0px;
          }
          
          &:nth-child(4n+4) {
            padding-left: 0px;
          }
          
          &:nth-child(6n+1) {
            padding-right: 25px;
          }
          
          &:nth-child(6n+2) {
            padding-right: 20px;
            padding-left: 5px;
          }
          
          &:nth-child(6n+3) {
            padding-right: 15px;
            padding-left: 10px;
          }
          
          &:nth-child(6n+4) {
            padding-right: 10px;
            padding-left: 15px;
          }
          
          &:nth-child(6n+5) {
            padding-right: 5px;
            padding-left: 20px;
          }
          
          &:nth-child(6n) {
            padding-left: 25px;
          }
        }
      }
    }
  }
}