/* mobile-first */
.page__catalog {
  font-family: "Ubuntu";
  font-size: 14px;
}
.page__catalog .thumb {
  position: relative;
}
.page__catalog .thumb .preview img {
  width: 100%;
}
.page__catalog .thumb .announce {
  padding-top: 20px;
  padding-bottom: 23px;
}
.page__catalog .thumb .announce .caption {
  font-size: 24px;
  font-weight: lighter;
  margin-top: 0px;
}
.page__catalog .thumb .announce p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  margin-bottom: 0px;
}
.page__catalog .announce2 {
  padding: 20px 0;
}
.page__catalog .announce2 p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  margin-bottom: 20px;
}
.page__catalog .announce2 p:last-child {
  margin-bottom: 0px;
}
.page__catalog .material-slider {
  height: 199px;
  overflow: hidden;
}
.page__catalog .material-slider .slick-arrow {
  display: block;
  background: url("arrow-down-blue.svg") no-repeat;
  background-size: 100% 100%;
  width: 170px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  /* поверх слайдера slick (div.matereial-slider) */
  z-index: 1;
  top: 35%;
}
.page__catalog .material-slider .slick-prev {
  transform: rotate(90deg);
  left: -60px;
}
.page__catalog .material-slider .slick-next {
  transform: rotate(-90deg);
  right: -60px;
}
.page__catalog .material-slider .material-thumb {
  position: relative;
  padding: 1px;
  width: 50%;
  float: left;
}
.page__catalog .material-slider .material-thumb .material-image {
  height: 197px;
}
.page__catalog .material-slider .material-thumb .caption {
  position: absolute;
  bottom: 21px;
  height: 42px;
  left: 15%;
  width: 70%;
  line-height: 42px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  color: #333;
  text-align: center;
  padding: 0;
  border: none;
}
.page__catalog .material-slider ul.slick-dots {
  list-style: none;
  padding: 0;
  text-align: center;
}
.page__catalog .material-slider ul.slick-dots > li {
  display: inline;
  margin: 0px 10px;
}
.page__catalog .material-slider ul.slick-dots > li > button {
  width: 16px;
  height: 16px;
  font-size: 0px;
  background-color: #e6e6e6;
  border-radius: 16px;
  border: none;
  outline: none;
}
.page__catalog .material-slider ul.slick-dots > li.slick-active > button {
  background-color: #00ad92;
}
.page__catalog .filter {
  background-color: #f7f7f7;
  padding: 15px;
  overflow: hidden;
  margin: 20px 0px;
}
.page__catalog .filter .count-select {
  /* специально для IE11 (убирает стрелку у select) */
}
.page__catalog .filter .count-select .filter-select {
  width: 100%;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  appearance: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: white url("arrow-down-blue.svg") no-repeat;
  background-size: 11px 5px;
  background-position: 95% 50%;
}
.page__catalog .filter .count-select .filter-select::-ms-expand {
  display: none;
}
.page__catalog .product-list-wrap {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 30px;
}
.page__catalog .product-list-wrap .product-list {
  column-count: 2;
  column-gap: 20px;
}
.page__catalog .product-list-wrap .product-list .product-card {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}
.page__catalog .product-list-wrap .product-list .product-card > a:hover {
  text-decoration: none;
}
.page__catalog .product-list-wrap .product-list .product-card .img-wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.page__catalog .product-list-wrap .product-list .product-card .img-wrap img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  width: 100%;
  height: auto;
}
.page__catalog .product-list-wrap .product-list .product-card:hover img {
  transform: scale(1.3);
}
.page__catalog .product-list-wrap .product-list .product-card .description {
  position: relative;
  padding: 11px 0px 16px;
  font-weight: lighter;
  font-size: 16px;
}
.page__catalog .product-list-wrap .product-list .product-card .description .caption {
  font-weight: lighter;
  color: #333;
  font-size: 16px;
  margin: 5px 0px;
  line-height: 1.2;
}
.page__catalog .product-list-wrap .product-list .product-card .description .articul {
  color: #999;
}
.page__catalog .pagination {
  display: block;
  margin: 0;
  padding: 30px 0;
  border-radius: 0;
}
.page__catalog .pagination .pagelist-wrap {
  display: block;
  text-align: center;
}
.page__catalog .pagination .pagelist-wrap ul.pagelist {
  list-style: none;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  line-height: 62px;
  height: 62px;
}
.page__catalog .pagination .pagelist-wrap ul.pagelist > li {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.page__catalog .pagination .pagelist-wrap ul.pagelist > li > a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.page__catalog .pagination .pagelist-wrap ul.pagelist > li > a:hover {
  color: black;
  text-decoration: none;
}
.page__catalog .pagination .pagelist-wrap ul.pagelist > li.active {
  background-color: #00ad92;
  border-radius: 30px;
  color: white;
}
.page__catalog .pagination .pagelist-wrap ul.pagelist > li.divider {
  color: #999;
}
.page__catalog .pagination .btn-wrapper .btn-next-page {
  padding: 0;
  height: 62px;
  line-height: 62px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  /* mobile-first */
  .page__catalog .product-list-wrap .product-list {
    column-count: 2;
  }
  .page__catalog .material-slider .material-thumb {
    width: 33%;
  }
  .page__catalog .pagination .pagelist-wrap ul.pagelist > li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50px;
  }
}
@media screen and (min-width: 768px) {
  /* mobile-first */
  .page__catalog .thumb-wrap {
    padding-top: 20px;
  }
  .page__catalog .thumb .preview {
    margin: 0;
  }
  .page__catalog .thumb .announce {
    position: absolute;
    top: 43px;
    left: 20px;
    width: 55%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 35px;
    margin: 0;
  }
  .page__catalog .material-slider {
    height: 265px;
  }
  .page__catalog .material-slider .slick-arrow {
    top: 45%;
  }
  .page__catalog .material-slider .material-thumb {
    width: 25%;
  }
  .page__catalog .material-slider .material-thumb .material-image {
    height: 263px;
  }
  .page__catalog .filter .count-select {
    float: right;
    width: 40%;
  }
  .page__catalog .product-list-wrap .product-list {
    column-count: 3;
  }
  .page__catalog .pagination {
    overflow: hidden;
  }
  .page__catalog .pagination .pagelist-wrap {
    text-align: left;
    float: left;
    width: 60%;
  }
  .page__catalog .pagination .pagelist-wrap ul.pagelist {
    margin: 0;
  }
  .page__catalog .pagination .btn-wrapper {
    float: right;
    width: 40%;
  }
}
@media screen and (min-width: 1000px) {
  /* mobile-first */
  .page__catalog .thumb-wrap {
    padding-top: 30px;
  }
  .page__catalog .thumb .announce {
    top: 110px;
    width: 40%;
  }
  .page__catalog .material-slider {
    height: 329px;
  }
  .page__catalog .material-slider .material-thumb .material-image {
    height: 327px;
  }
  .page__catalog .product-list-wrap .product-list {
    column-count: 4;
  }
  .page__catalog .pagination {
    overflow: hidden;
  }
  .page__catalog .pagination .pagelist-wrap {
    width: 70%;
  }
  .page__catalog .pagination .btn-wrapper {
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .page__catalog .thumb .announce {
    top: 120px;
    left: 105px;
    width: 30%;
  }
  .page__catalog .thumb .announce .c__inner {
    width: auto;
    padding: 0;
  }
  .page__catalog .material-slider {
    height: 402px;
  }
  .page__catalog .material-slider .material-thumb .material-image {
    height: 400px;
  }
  .page__catalog .announce2 {
    padding: 40px 0;
  }
  .page__catalog .product-list-wrap .product-list .product-card .description .caption {
    font-size: 18px;
  }
}
/* вынос стрелок слайдера для больших экранов */
@media screen and (min-width: 1500px) {
  .page__catalog .material-slider {
    top: 45%;
  }
  .page__catalog .material-slider .slick-prev {
    left: -130px;
  }
  .page__catalog .material-slider .slick-next {
    right: -130px;
  }
}
