body {
  font-family: "Ubuntu";
}
body a {
  color: #00ad92;
}
body a:hover {
  color: #00d6b5;
}
body a:active {
  color: #006d5c;
}
/*   mobile-first   */
.l__header {
  text-align: center;
  font-size: 14px;
}
.l__header .subheader {
  overflow: hidden;
}
.l__header .subheader .logo {
  display: block;
  margin: 13px auto 20px;
}
.l__header .subheader .search {
  position: relative;
  float: left;
  min-width: 109px;
  width: 40%;
  width: calc(100% - 190px);
  height: 42px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 20px;
}
.l__header .subheader .search:before {
  content: "";
  width: 12px;
  height: 13px;
  position: absolute;
  left: 15px;
  top: 15px;
  background: url("search.svg") no-repeat;
}
.l__header .subheader .search input[type="text"] {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  color: #666;
  text-indent: 35px;
}
.l__header .subheader .contacts {
  float: right;
  margin-right: 10px;
}
.l__header .subheader .contacts .city {
  color: #000;
}
.l__header .subheader .contacts .city:after {
  content: "";
  background: url("arrow-down-gray.svg") no-repeat;
  width: 11px;
  height: 5px;
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 2px;
}
.l__header .subheader .contacts .phone {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.l__header .navbar {
  height: 70px;
  line-height: 70px;
  background-color: #00ad92;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  border: none;
  border-radius: 0px;
  position: relative;
}
.l__header .navbar.fixed {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  /*поверх всех элементов страницы*/
}
.l__header .navbar .menu-wrap {
  float: left;
}
.l__header .navbar .menu-wrap .mobile-header {
  display: block;
  height: 100%;
  color: white;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
}
.l__header .navbar .menu-wrap .mobile-header:before {
  content: "";
  background: url("menu.png") no-repeat;
  width: 19px;
  height: 14px;
  display: inline-block;
  margin-right: 13px;
  vertical-align: -3px;
}
.l__header .navbar .menu-wrap .mobile-header.opened:before {
  background: url("menu-close.png") no-repeat;
}
.l__header .navbar .menu-wrap ul.menu {
  left: 0px;
  list-style: none;
  position: absolute;
  display: none;
  z-index: 10;
  /* выводим поверх страницы */
  width: 100%;
  background-color: #00977f;
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.l__header .navbar .menu-wrap ul.menu.opened {
  display: block;
}
.l__header .navbar .menu-wrap ul.menu > li {
  border-top: solid 1px #1c8675;
  padding: 0px 20px;
  min-height: 49px;
  line-height: 49px;
  font-size: 16px;
}
.l__header .navbar .menu-wrap ul.menu > li:first-child {
  border: none;
}
.l__header .navbar .menu-wrap ul.menu > li.main:before {
  content: "";
  background: url("menu.png") no-repeat;
  width: 19px;
  height: 14px;
  display: inline-block;
  margin-right: 13px;
  vertical-align: -1px;
}
.l__header .navbar .menu-wrap ul.menu > li.submenu {
  padding: 0;
}
.l__header .navbar .menu-wrap ul.menu > li.opened {
  background-color: #1c8675;
}
.l__header .navbar .menu-wrap ul.menu > li.opened:after {
  transform: rotate(180deg);
}
.l__header .navbar .menu-wrap ul.menu > li > a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.l__header .navbar .menu-wrap ul.menu > li > .submenu-header {
  display: block;
  padding: 0px 20px;
  position: relative;
}
.l__header .navbar .menu-wrap ul.menu > li > .submenu-header:after {
  content: "";
  width: 11px;
  height: 5px;
  background: url("arrow-down-white.svg") no-repeat;
  position: absolute;
  right: 17px;
  top: 23px;
}
.l__header .navbar .menu-wrap ul.menu > li > ul.submenu-content {
  display: none;
  list-style: none;
  text-transform: none;
  background-color: #1c8675;
  padding: 0 0 10px;
}
.l__header .navbar .menu-wrap ul.menu > li > ul.submenu-content.opened {
  display: block;
}
.l__header .navbar .menu-wrap ul.menu > li > ul.submenu-content > li {
  padding: 0px 20px;
  height: 34px;
  line-height: 34px;
}
.l__header .navbar .menu-wrap ul.menu > li > ul.submenu-content > li a {
  color: white;
  font-weight: lighter;
  font-size: 16px;
  text-decoration: none;
}
.l__header .navbar .cart {
  float: right;
}
.l__header .navbar .cart:before {
  content: "";
  background: url("cart.svg") no-repeat;
  width: 25px;
  height: 23px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: -7px;
}
.l__footer {
  text-align: center;
}
.l__footer .catalog {
  padding-top: 40px;
  position: relative;
}
.l__footer .catalog h1 {
  font-family: Ubuntu;
  font-weight: lighter;
  font-size: 28px;
  color: #333;
  margin: 0 0 25px;
}
.l__footer .catalog ul.category-list {
  list-style: none;
  text-align: left;
  margin-bottom: 40px;
  padding: 0px;
}
.l__footer .catalog ul.category-list > li {
  border-bottom: 1px solid #e6e6e6;
}
.l__footer .catalog ul.category-list > li:first-child {
  border-top: 1px solid #e6e6e6;
}
.l__footer .catalog ul.category-list > li h2 {
  font-size: 20px;
  font-family: Ubuntu;
  font-weight: lighter;
  color: #333;
  margin: 0;
  line-height: 51px;
}
.l__footer .catalog ul.category-list > li h2:before {
  content: "";
  background: url("menu-arrows.png") no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 13px;
}
.l__footer .catalog ul.category-list > li h2.opened:before {
  background-position: -17px 0px;
}
.l__footer .catalog ul.category-list > li > ul.subcategory-list {
  display: none;
  list-style: none;
  padding: 0px 30px;
  line-height: 2;
  margin-bottom: 10px;
}
.l__footer .catalog ul.category-list > li > ul.subcategory-list.opened {
  display: block;
}
.l__footer .catalog ul.category-list > li > ul.subcategory-list > li > a {
  font-family: Ubuntu;
  font-weight: lighter;
  color: #999;
  font-size: 15px;
}
.l__footer .catalog .btn.btn-load {
  min-width: 280px;
  height: 62px;
  margin: auto;
  border: 1px solid #66c0b2;
  border-radius: 3px;
  color: #00ad92;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 62px;
  font-weight: bold;
  padding: 0;
  display: block;
}
.l__footer .catalog .btn.btn-load:hover {
  color: #00d6b5;
  border-color: #00d6b5;
}
.l__footer .catalog .btn.btn-load:active {
  color: #006d5c;
  border-color: #006d5c;
}
.l__footer .logo {
  width: 227px;
  height: 45px;
  display: block;
  margin: 37px auto 20px;
}
.l__footer .socials-wrap {
  overflow: hidden;
  margin: 0px auto 15px;
}
.l__footer .socials-wrap .socials {
  display: inline-block;
}
.l__footer .socials-wrap .socials a {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  border: 1px solid #66c0b2;
  margin: 0px 4px;
  position: relative;
}
.l__footer .socials-wrap .socials a:hover {
  border-color: #00d6b5;
}
.l__footer .socials-wrap .socials a:active {
  border-color: #006d5c;
}
.l__footer .socials-wrap .socials a img {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 18px;
  height: 18px;
}
.l__footer .contacts .phone {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.l__footer .contacts .address {
  font-size: 16px;
  font-weight: lighter;
  color: #999;
}
.l__footer .subfooter {
  background-color: #f1f1f1;
  margin-top: 40px;
  padding-top: 29px;
  padding-bottom: 45px;
  line-height: 2;
}
.l__footer .subfooter .copyright {
  color: #999;
  font-weight: lighter;
  margin-bottom: 14px;
}
.l__footer .subfooter .links a {
  display: block;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.l__footer .subfooter .payment-variants {
  display: block;
  margin: 16px auto 0px;
}
@media screen and (min-width: 480px) {
  .l__header .subheader {
    height: 70px;
  }
  .l__header .subheader .logo {
    float: left;
    margin: 0px;
    margin-top: 20px;
    margin-right: 15px;
  }
  .l__header .subheader .search {
    width: 23%;
    width: calc(100% - 350px);
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .l__header .subheader .contacts {
    margin-right: 0px;
    margin-top: 10px;
  }
  .l__footer .catalog {
    padding-top: 28px;
  }
  .l__footer .catalog h1 {
    font-size: 32px;
  }
  .l__footer .catalog ul.category-list {
    margin-bottom: 50px;
  }
  .l__footer .logo {
    margin-top: 27px;
  }
  .l__footer .subfooter {
    padding-bottom: 43px;
  }
  .l__footer .subfooter .copyright {
    margin-bottom: 13px;
  }
  .l__footer .subfooter .links a {
    display: inline-block;
    margin: 0px 10px;
  }
}
@media screen and (min-width: 768px) {
  .l__header {
    font-size: 16px;
  }
  .l__header .subheader {
    overflow: hidden;
  }
  .l__header .subheader .logo {
    width: 227px;
    height: 45px;
    margin-top: 10px;
    margin-right: 18px;
  }
  .l__header .subheader .search {
    width: 38%;
    width: calc(100% - 432px);
  }
  .l__footer .catalog-wrap {
    border-bottom: 1px solid #e6e6e6;
  }
  .l__footer .catalog {
    overflow: hidden;
    line-height: 28px;
    padding-top: 48px;
    padding-bottom: 25px;
  }
  .l__footer .catalog h1 {
    margin-bottom: 33px;
  }
  .l__footer .catalog ul.category-list {
    overflow: hidden;
    margin: 0;
  }
  .l__footer .catalog ul.category-list > li {
    display: block;
    float: left;
    width: 20%;
    padding: 0px;
    border: none;
  }
  .l__footer .catalog ul.category-list > li:first-child {
    border: none;
  }
  .l__footer .catalog ul.category-list > li h2 {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .l__footer .catalog ul.category-list > li h2:before {
    display: none;
  }
  .l__footer .catalog ul.category-list > li > ul.subcategory-list {
    display: block;
    padding: 0px;
  }
  .l__footer .catalog .btn.btn-load {
    position: absolute;
    left: 60%;
    right: 25px;
    bottom: 59px;
  }
  .l__footer .logo-socials-wrap {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .l__footer .logo {
    float: left;
    margin: 0px;
    margin-right: 10px;
  }
  .l__footer .socials-wrap {
    margin: 0;
  }
  .l__footer .socials-wrap .socials {
    margin: 0px;
    display: block;
  }
  .l__footer .subfooter {
    overflow: hidden;
    margin-top: 34px;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .l__footer .subfooter .copyright {
    float: left;
    margin: 0;
  }
  .l__footer .subfooter .links {
    float: left;
    width: 60%;
    width: calc(100% - 280px);
  }
  .l__footer .subfooter .payment-variants {
    float: right;
    margin: 2px 0px 0px;
  }
}
@media screen and (min-width: 1000px) {
  .l__header .subheader .search {
    width: 24.8%;
    width: calc(100% - 722px);
  }
  .l__header .subheader .contacts {
    overflow: hidden;
    margin-top: 0;
    line-height: 70px;
  }
  .l__header .subheader .contacts .city {
    float: left;
    margin-right: 40px;
    font-size: 16.5px;
  }
  .l__header .subheader .contacts .phone {
    float: left;
    font-size: 31px;
  }
  .l__header .navbar .menu-wrap .mobile-header {
    display: none;
  }
  .l__header .navbar .menu-wrap ul.menu {
    list-style: none;
    position: static;
    display: block;
    background-color: inherit;
  }
  .l__header .navbar .menu-wrap ul.menu > li {
    border: none;
    display: block;
    float: left;
    padding: 0;
    margin-right: 20px;
    height: 70px;
    line-height: 70px;
  }
  .l__header .navbar .menu-wrap ul.menu > li:hover ul.submenu-content {
    display: block;
  }
  .l__header .navbar .menu-wrap ul.menu > li:hover .submenu-header:after {
    transform: rotate(180deg);
  }
  .l__header .navbar .menu-wrap ul.menu > li.submenu {
    position: relative;
  }
  .l__header .navbar .menu-wrap ul.menu > li.opened {
    background-color: inherit;
    transform: initial;
  }
  .l__header .navbar .menu-wrap ul.menu > li > .submenu-header {
    display: inline;
    padding: 0;
    padding-right: 20px;
  }
  .l__header .navbar .menu-wrap ul.menu > li > .submenu-header:after {
    top: 7px;
    right: 0px;
  }
  .l__header .navbar .menu-wrap ul.menu > li > ul.submenu-content {
    left: -24px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #00ad92;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 17px 24px 0px;
    padding: 20px 25px;
    white-space: nowrap;
    position: absolute;
    top: 50px;
    z-index: 10;
    /* поверх страницы */
  }
  .l__header .navbar .menu-wrap ul.menu > li > ul.submenu-content.opened {
    display: none;
  }
  .l__header .navbar .menu-wrap ul.menu > li > ul.submenu-content > li {
    line-height: 28px;
    height: 28px;
    padding: 0;
  }
  .l__header .navbar .menu-wrap ul.menu > li > ul.submenu-content > li a {
    color: #00ad92;
  }
  .l__header .navbar .menu-wrap ul.menu > li > ul.submenu-content > li a:hover {
    color: #333;
    border-bottom: 1px solid #b1b1b1;
  }
  .l__footer .logo-socials-wrap {
    margin-top: 54px;
    float: left;
  }
  .l__footer .contacts {
    text-align: left;
    float: right;
    clear: none;
    margin: 48px 0 55px 95px;
  }
  .l__footer .subfooter {
    font-size: 16px;
    padding-bottom: 27px;
    margin-top: 0px;
    clear: both;
  }
  .l__footer .subfooter .links {
    float: left;
    width: 52%;
    width: calc(100% - 460px);
  }
  .l__footer .subfooter .payment-variants {
    width: 192px;
    height: 27px;
  }
}
@media screen and (min-width: 1280px) {
  .l__header .subheader .inner,
  .l__header .navbar .inner,
  .l__footer .catalog-wrap .catalog,
  .l__footer .subfooter .inner,
  .l__footer .footer-row .inner {
    width: 1280px;
    margin: auto;
  }
  .l__footer .catalog {
    padding-top: 78px;
    padding-bottom: 60px;
  }
  .l__footer .catalog h1 {
    font-size: 52px;
    text-align: left;
    margin-bottom: 50px;
  }
  .l__footer .catalog .btn.btn-load {
    left: 80%;
    min-width: 0px;
    margin-left: -20px;
    bottom: 89px;
  }
}
